.sprite {
    background-image: url('/assets/images/activities/big alphabets/images/A-Z Animals Sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-A {
    width: 220px;
    height: 124px;
    background-position: -5px -5px;
}

.sprite-B {
    width: 217px;
    height: 125px;
    background-position: -235px -5px;
}

.sprite-C {
    width: 234px;
    height: 125px;
    background-position: -462px -5px;
}

.sprite-D {
    width: 219px;
    height: 120px;
    background-position: -5px -140px;
}

.sprite-E {
    width: 218px;
    height: 120px;
    background-position: -234px -140px;
}

.sprite-F {
    width: 228px;
    height: 120px;
    background-position: -462px -140px;
}

.sprite-G {
    width: 219px;
    height: 118px;
    background-position: -5px -270px;
}

.sprite-H {
    width: 218px;
    height: 121px;
    background-position: -234px -270px;
}

.sprite-I {
    width: 220px;
    height: 121px;
    background-position: -462px -270px;
}

.sprite-J {
    width: 217px;
    height: 118px;
    background-position: -5px -401px;
}

.sprite-K {
    width: 231px;
    height: 117px;
    background-position: -232px -401px;
}

.sprite-L {
    width: 221px;
    height: 121px;
    background-position: -473px -401px;
}

.sprite-M {
    width: 218px;
    height: 120px;
    background-position: -5px -532px;
}

.sprite-N {
    width: 221px;
    height: 118px;
    background-position: -233px -532px;
}

.sprite-O {
    width: 216px;
    height: 120px;
    background-position: -464px -532px;
}

.sprite-P {
    width: 232px;
    height: 120px;
    background-position: -5px -662px;
}

.sprite-Q {
    width: 221px;
    height: 121px;
    background-position: -247px -662px;
}

.sprite-R {
    width: 218px;
    height: 120px;
    background-position: -478px -662px;
}

.sprite-S {
    width: 219px;
    height: 122px;
    background-position: -706px -5px;
}

.sprite-T {
    width: 216px;
    height: 121px;
    background-position: -706px -137px;
}

.sprite-U {
    width: 229px;
    height: 121px;
    background-position: -700px -268px;
}

.sprite-V {
    width: 221px;
    height: 123px;
    background-position: -704px -399px;
}

.sprite-W {
    width: 219px;
    height: 121px;
    background-position: -706px -532px;
}

.sprite-X {
    width: 219px;
    height: 124px;
    background-position: -706px -663px;
}

.sprite-Y {
    width: 218px;
    height: 125px;
    background-position: -5px -797px;
}

.sprite-Z {
    width: 231px;
    height: 121px;
    background-position: -233px -797px;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -935px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -975px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -1015px -5px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -1055px -5px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -935px -45px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -975px -45px;
}
